html {
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    background-color: cornsilk;
    color: #523e77;
}

body {
    font-size: 2rem;
    margin: 0;
}

p {
    margin-block-end: 0;
}

nav p {
    display: inline;
    float: left;
    margin: 0 1rem;
    padding-top: 0.5rem;
    color: #523e77;
    font-size: 1.5rem;
    font-family: "Dancing Script";
}

input {
    display: inline;
    float: left;
    margin-left: 2rem;
    padding: 1rem 26.75rem;
    border-radius: 2rem;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

li {
    padding: 0 0.5rem;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #523e77;
    width: 10rem;
    padding: 0 0.5rem;
    border-radius: 2rem;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Dancing Script";
}

#mission-statement {
    position: relative;
    text-align: center;
}

#mission-statement img {
    width: 70%;
}

.banner-text {
    position: absolute;
    font-size: 1.5rem;
    top: 90%;
    left: 50%;
    width: 70%;
    height: 10%;
    margin-left: -35%;
    color: white;
    background-color: #523e77;
}

#services p {
    text-align: center;
    padding: 5rem 0 0 0;
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

.first-row-images {
    display: flex;
    flex-shrink: 1;
}

.first-row-images img {
    width: auto;
    height: 30rem;
    object-fit: cover;
}

.first-row-text {
    display: flex;
    justify-content: space-around;
}

.second-row-images {
    display: flex;
    flex-shrink: 1;
}

.second-row-images img {
    width: auto;
    height: 30rem;
    object-fit: cover;
}

.second-row-text {
    display: flex;
    justify-content: space-around;
}

#services img {
    margin: auto;
    width: 30%;
    overflow: hidden;
}

#team {
    margin-top: 10rem;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
}

.team-container {
    display: flex;
    justify-content: space-around;
    background-image: url("https://images.unsplash.com/photo-1716908331581-15c6d49c7d73?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding: 5rem;
}

.team-container p {
    font-size: 1.5rem;
    background-color: lightgreen;
    color: black;
    padding: 0 1rem;
    border-radius: 2rem;
    text-align: center;
}

#team img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

footer {
    color: beige;
    background-color: #523e77;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 1rem;
}

footer h2 {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 4rem;
    padding-top: 1rem;
    margin: 0;
}

.customer-service {
    padding: 1rem;
}

.contact {
    text-align: right;
    padding: 1rem;
    margin: 0;
    align-self: end;
}